image:
  repository: tccr.io/truecharts/pwndrop
  pullPolicy: IfNotPresent
  tag: v1.0.1

securityContext:
  runAsNonRoot: false

podSecurityContext:
  runAsUser: 0
  runAsGroup: 0

env:
  PUID: 568

service:
  main:
    ports:
      main:
        targetPort: 8080
        port: 8080

persistence:
  varrun:
    enabled: true
